{% extends "base.html" %}

{% block bodyblock %}

    <div class="container">
        <h1 class="content">Welcome to SMART AI.space</h1>
        <p>
            SMART AI is a helps global Fortune 100 companies power every human decision in the enterprise by bringing analytics and AI to the decision.
            SMART AI is a data driven company. 
            We're a team of software engineer , data scientist , data engineer and more experts working together to advance the state of the art in Artificial Intelligence. 
        </p>
    </div>

{% endblock  %}